*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
section{
    position: relative;
    background: #14142b;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content:'';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#e2c939,#e21a1a,#a223ab);
    border-radius: 50%;
    transform: translate(-250px,-120px);
}
section::after
{
    content:'';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2e2ee6,#a223ab,#1752b8ce);
    border-radius: 50%;
    transform: translate(250px,120px);
}
.box{
    position: relative;
    min-width: 350px;
    min-height: 500px;
    background: rgba(249, 249, 249, 0.161);
    box-shadow: #25254d2e;
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.158);
    border-bottom: 1px solid rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(15px);
}
.box h3{
    color: rgba(64, 7, 7, 0.809);
}
img{
    height: 120px;
    border: 5px solid rgba(255, 255, 255, 0.257);
    border-radius: 1px;
}
